@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Olá!</h1>
    <br />
    <h2 class="display-4">
        Seja bem-vindo ao nosso site de segurança residêncial, nele você pode cadastrar seus sensores e cômodos para monitorar a segurança da sua casa.
    </h2>
    <p>Learn about <a href="https://github.com/TheoSouzaSantos/Fatec-2026-DFS">Acesse nosso GitHub para ver mais sobre o código</a>.</p>
</div>
